@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#57606f;

}

.code{
  width: 500px;
  height: 500px;
  background-color:#f1f2f6 ;
  padding: 20px;
}

.output{
  width: 500px;
  height: 500px;
  background-color:#2f3542 ;
  padding: 20px;
  position: relative;
}

.output img{
  width: 100%;
  height: 100%;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-single-group{
  margin-bottom: 10px;
  display: flex;
  gap:25px;
}
input[type='url'],
select{
  height: 30px;
  padding-left: 10px;
  outline: none;
  border:1px solid #ccc;
}
button{
  width: 200px;
  height: 40px;
  background-color:#ff4757;
  color:white;
  border:none;
  font-weight: 400;
  cursor: pointer;
   padding: 2px 25px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1rem;
  transition: transform 0.85s;
}

button:hover{
    transform: scale(1.1);
    transition: 0.42s ease-in;
    background-color: black;
    color: #ff4757;
    font-weight: bold;
}

#btn-save:hover{
    transform: scale(1.1);
    transition: 0.42s ease-in;
    background-color: black;
    color: #2ed573;
    font-weight: bold;
}


#loading{
  
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3742fa;
  top:0;
  left: 0;
  align-items: center;
  justify-content: center;
   

}
#loading p{
  color:white;
  font-size: 15px;
  font-weight: 500;
  flex-direction: column;
  position: absolute;
  margin-top: 115px;
  
  
}
#spinner{
  width: 75px;
  height: 75px;
  
  
  
  border:5px solid #5352ed;
  border-radius: 50%;
  border-top-color:white;
  animation: spin 1s ease-in-out infinite;
}


@keyframes spin {
  to{
    
    transform: rotate(360deg);
  }
}



#btn-save{
    font-weight: 400;
  cursor: pointer;
   padding: 2px 25px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1rem;
    align-items: center;
    gap: 15px;
    position: relative;
    flex-direction: column;
  transition: transform 0.95s;
  background-color:#2ed573;
  
}
